
.accordion {
  &__item {
      display: flex;
      padding: 18px 0;
      margin: 0 20px;
      background-color: #fff;
      border-bottom: 2px solid #000;
      align-items: center;
      &--active {
          background-color: #ccc;
      }
  }

  &__button {
      margin: 0 20px;
      background-color: rgb(255, 238, 0);
      width: 70px;
      height: 46px;
      border: none;
      margin-left: auto;
  }
}
