/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: "Oswald-bold";
  src: url(assets/fonts/oswald/oswald-bold.ttf) format("truetype");
}


@font-face {
  font-family: "Oswald-light";
  src: url(assets/fonts/oswald/oswald-light.ttf) format("truetype");
}


@font-face {
  font-family: "Oswald-regular";
  src: url(assets/fonts/oswald/oswald-regular.ttf) format("truetype");
}

.oswald-bold {
  font-family: Oswald-bold;
}


.oswald-light {
  font-family: Oswald-light;
}


.oswald-regular {
  font-family: Oswald-regular;
}



$border-bottom-colour:  #000;
$accordion-item-bg-colour: #fff;
$accordion-item-active-bg-colour: #ccc;
$accordion-button-bg-colour: rgb(255, 238, 0);

